.parent-class {
    border: 1px solid red;
    min-height: 50vh;
    width: 100%;
    display: flex;
    place-items: center;
}
.child-class {
    min-height: 30vh;
    width: 70%;
    margin: auto;
    border: 1px solid green;
}